@using APS_WebApp.Models.Auth
@model ResponseDTO

<div class="d-flex row text-center justify-content-center">

    <div class="card">
        <div class="card-body text-center justify-content-center align-content-center">
            <h1 class="text-danger">@Model.issuccess</h1>
            @if (@Model.issuccess)
            {
                var threeLeggedToken = Model.Result as ThreeLeggedToken;
                <div class="card">
                    <div class="card-body">
                        <small class="text-success" > Access Token : @threeLeggedToken.access_token</small>
                    </div>
                </div>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <small class="text-success" > Expiration in : @threeLeggedToken.expires_in</small>
                    </div>
                </div>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <small class="text-success" > Refresh Token : @threeLeggedToken.refresh_token</small>
                    </div>
                </div>
                
                
                <small class="text-success" > Refresh Token : @threeLeggedToken.refresh_token</small>
            }
            else
            {
                <h1 class="text-danger fw-bold">
                    @Model.ErrorMessage
                </h1>
                <small class="text-danger">@Model.Result</small>
            }

        </div>
    </div>
</div>